<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".WriterApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidComponentsApp"
        tools:targetApi="31">
        <activity
            android:name="ru.vsibi.androidcomponents_writer.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidComponentsApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.content_provider.WriterContentProvider"
            android:authorities="ru.vsibi.androidcomponents_writer"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".ui.screens.service.foreground.ForegroundService"
            android:foregroundServiceType="shortService" />

        <service android:name=".ui.screens.service.background.BackgroundService" />

        <service
            android:name=".ui.screens.service.bound.BoundService"
            android:exported="true">
            <intent-filter>
                <action android:name="writerbound.AIDL" />
            </intent-filter>
        </service>


    </application>

</manifest>